################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/PersonsAPI/.vs/PersonsAPI/v17
/api/PersonsAPI/bin/Debug/net6.0
/api/PersonsAPI/obj
/api/PersonsAPI/.vs/PersonsAPI/config
