<div class="container mt-3">
  <h2 class="mt-3 text-center">
    <u> View a Person </u>
  </h2>
  <form
    class="row g-3"
    #form="ngForm"
    (ngSubmit)="editAPerson()"
    ngNativeValidate
  >
    <div class="col-md-6">
      <label for="id" class="form-label">Id</label>
      <input
        type="text"
        class="form-control readonly"
        name="id"
        [(ngModel)]="existingPerson.id"
        readonly
      />
    </div>
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
        [(ngModel)]="existingPerson.name"
      />
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Phone</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        required
        [(ngModel)]="existingPerson.phone"
      />
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        [(ngModel)]="existingPerson.email"
      />
    </div>
    <div class="col-12">
      <label for="address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        required
        [(ngModel)]="existingPerson.address"
      />
    </div>
    <div class="col-md-6">
      <label for="postalZip" class="form-label">Postal Zip</label>
      <input
        type="text"
        class="form-control"
        id="postalZip"
        name="postalZip"
        required
        [(ngModel)]="existingPerson.postalZip"
      />
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        id="country"
        name="country"
        required
        [(ngModel)]="existingPerson.country"
      />
    </div>

    <div class="col-md-1">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
    <div class="col-md-1">
      <button
        type="button"
        class="btn btn-danger"
        (click)="deletePerson(existingPerson.id)"
      >
        Delete
      </button>
    </div>
  </form>
</div>
