<div class="container mt-3">
  <h2 class="mt-3 text-center"><u>Persons Table</u></h2>
  <table class="table table-hover mt-4" *ngIf="persons && persons.length > 0">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Postal Zip</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.name }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.postalZip }}</td>
        <td>{{ person.country }}</td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="!persons || persons.length <= 0"></h3>
</div>
